<h1>Welcome to our site!</h1>

<h3>Register above! Add skills, post jobs, Add your degree and show off!</h3>


<h3>The Mission</h3>

<p>The goal of this site is to provide you with the opportunity to learn things that will propel you forward in your career path. If you are an employer, we want to give you the <strong>Best</strong> team the world has to offer. You can earn do the following stuff:</p>


<div class='pull-right'>
<h4>Employers</h4>
<ul>
  <li>Post Jobs for users to search</li>
  <li>Search through users to hire the best</li>
  <li>Filter results based on skills you want in your team.</li>
</ul>
</div>

<div class='pull-left'>
<h4>Students/Learners</h4>
<ul>
<li>Learn valuable skills</li>
<li>Earn certifications</li>
<li>Track your degree progress</li>
<li>Download and store your resumes, certificaions, and licenses</li>
<li>Show off your skills, College courses, and motivation to employers </li>
</ul>
</div>